body {
    min-width: 350px;
}

/* BOOTSTRAP CLASS */
/* margin top negative */
.mt-n3 {
    margin-top: -0.75rem !important;
}

#logo {
  color: white;
  text-decoration: none;
}

#bookDetailsModal.editing .book-field {
    border-color: var(--bs-primary) !important;
    background: transparent !important;
}

#bookDetailsModal.editing .book-field:focus {
    border-color: var(--bs-primary) !important;
}

#confirmModal {
  z-index: 1060;
}

.modal-backdrop {
  z-index: 1050;
}